<li class="person">
  <div class="person-avatar-placeholder"></div>
  <div class="person-about">
    <div class="person-name-placeholder"></div>
    <div class="person-status-placeholder"></div>
  </div>
</li>